setuptools
torch>=1.6.0
torchvision
torchaudio
six
scikit-learn
stringcase
ply
slimit
astunparse
submitit
sacrebleu==1.2.11
javalang
psutil
pytest
pytest-cov
tree_sitter==0.21.3
cython
black==19.10b0
click==8.0.3
hiplot
mypy
types-requests
types-dataclasses
types-six
einops
typing_extensions
sentencepiece
pebble
numpy
pandas
datasets
transformers
tree-sitter-languages==1.10.2
